@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  --primary: #c3cec1;
  --primary-dark: #6b705c;
  --secondary: #e7cac3;
  --secondary-dark: #d7a49a;
  --ivory: #eee9e3;
  --charcoal: #373737;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-family: 'Playfair Display';
  font-weight: 400;
}

h1 {
  font-family: 'Allura';
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display SC';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}


.header {
  z-index: 1000;

  /* glass effect */
  background: var(--primary-dark);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

  transition: background 0.3s ease;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.header a {
  margin-left: 10px;
  font-family: allura;
  /* font-weight: 200; */
  font-size: 1.777rem;
  color:white;
  text-decoration: none;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}